body{
 margin: 0;
 display: flex;
 align-items: center;
 
}

p{
 font-size: 16px;
 transition: 0.5s;
 cursor: pointer;
 color: red;
}

p:hover{
 font-size: 16px;
 transition: 0.5s;
 cursor: pointer;
 color: purple;

}

img{
  height: 250px;
  width: 250px;
  padding: 20px;

}
.fjellbilder{

 text-align: center;
 display: flex;
 
}
 .fjellbilder2{
  
 text-align: center;
 display: flex;

}

.fjellbilder3{
  text-align: center;
  display: flex;

}

.button1{
 height: 25px;
 width: 70px;
 border: 1px solid black;
 border-radius: 5px;
 background-color: blueviolet;
 font-size: 16px;
 text-align: center;
 cursor: pointer;
 transition: 1s;
 
}

.button1:hover{
 height: 25px;
 width: 75px;
 border: 1px solid black;
 border-radius: 5px;
 background-color: pink;
 font-size: 16px;
 text-align: center;
 cursor: pointer;
 transition: 1s;
}

.button2{
  height: 25px;
  width: 70px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blueviolet;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
  
 }
 
 .button2:hover{
  height: 25px;
  width: 75px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: pink;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 1s;
 }

 .btn3{
  height: 25px;
  width: 25px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: blueviolet;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.btn3:hover{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
  cursor: pointer;
  transition: 1s;

}

.btn4{
  height: 25px;
  width: 25px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: blueviolet;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.btn4:hover{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: pink;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}
